.check-box:selected .box,
.radio-button:selected .dot {
	-fx-background-color: #00675b;
}
.styled-primary-button {
	-fx-background-color: #00675b;
}

.styled-accent-button {
	-fx-background-color: #4db6ac;
}

.styled-accent-button {
	-fx-text-fill: #232323;
}

.styled-accent-button .dm-icon {
	-fx-fill: #232323;
}