.dashboard-title-bar {
	-fx-background-color: #00675b;
}
.dashboard-title-bar .label {
	-fx-text-fill: #fafafa;
}
.dashboard-title-bar .icon-style {
	-fx-fill: #fafafa;
}
.dashboard-title-bar .choice-box {
	-fx-text-fill: #232323;
}
.dashboard-title-bar .choice-box .context-menu .label {
	-fx-text-fill: #232323;
}
.dm-card {
	-fx-background-color:
        radial-gradient(center 50% 0%, radius 100%, rgba(255,255,255,0), rgba(38, 166, 154,0.3));
    -fx-effect: dropshadow(three-pass-box, #009688, 10, 0, 8, 8);
}
