.dashboard-title-bar {
	-fx-background-color: #0069c0;
}
.dashboard-title-bar .label {
	-fx-text-fill: #fafafa;
}
.dashboard-title-bar .icon-style {
	-fx-fill: #fafafa;
}
.dashboard-title-bar .choice-box {
	-fx-text-fill: #232323;
}
.dashboard-title-bar .choice-box .context-menu .label {
	-fx-text-fill: #232323;
}
.dm-card {
	-fx-background-color:
        radial-gradient(center 50% 0%, radius 100%, rgba(255,255,255,0), rgba(66, 165, 245,0.3));
    -fx-effect: dropshadow(three-pass-box, #2196F3, 10, 0, 8, 8);
}
