.dm-table-pane {
	-fx-background-color:
        radial-gradient(center 50% 0%, radius 100%, rgba(255,255,255,0), rgba(66, 165, 245,0.3));
    -fx-effect: dropshadow(three-pass-box, #2196F3, 10, 0, 8, 8);
}
.filler {
	-fx-background-color: #e3f2fd;
}
.table-view .column-header {
   -fx-background-color: #0069c0;
}
.table-view .column-header .label{
	-fx-text-fill: white;
}
.table-row-cell:odd {
    -fx-background-color: #e3f2fd;
}
.table-row-cell:even {
    -fx-background-color: white;
}
.table-row-cell:selected {
   -fx-background-color: blue; 
}
.table-row-cell:empty {
    -fx-background-color: rgba(227, 242, 253,0.3);
}
.separator {
	-fx-background-color: #f37f21;
}
.maximize-icon {
	-fx-fill: #0069c0;
}